.tbl-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    .tbl-str {
        border-collapse: collapse;
        flex: 1;
    }
}

.tbl-str-down {
    border-collapse: collapse;
    padding: 10px;
    thead {
        background-color: blue;
        color: white;
    }
    tbody {
        tr:nth-child(odd) {
            background-color: aqua;
        }
    }
}

td,th {
    padding: 5px;
    text-align: center;
}

.down-tbl-wrapper {
   padding: 40px;
}